:root {
  --hijau-muda: #95d663;
  --hijau-tua: #1d8e15;
  --coklat: #873b15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tilt Neon", sans-serif;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container {
  height: 35rem;
  width: 40rem;
  background-color: rgb(249, 247, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  padding: 50px;
}

.bg-personal {
  background-image: url("img/hero2.jpg");
  -webkit-backdrop-filter: brightness(50%);
  backdrop-filter: brightness(50%);
  background-size: cover;
  background-position: 100% 60%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .modal-container {
    overflow: hidden;
  }

  .modal-content-container {
    background-image: url("./img/bg-deskripsi.png");
    -webkit-backdrop-filter: brightness(50%);
    backdrop-filter: brightness(50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 70%;
    height: 100vh;
    width: 100vh;
  }

  .bg-personal {
    background-image: url("img/bg-salah.png");
    -webkit-backdrop-filter: brightness(50%);
    backdrop-filter: brightness(50%);
    background-size: cover;
    background-position: 100% 60%;
    background-repeat: no-repeat;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animasi-bounce2 {
  animation: bounce 1s infinite;
}

@keyframes leaves {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

.animasi-scale {
  animation: leaves 3s infinite;
}

button:disabled {
  animation: none;
}
